@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
  /* Primary colors */
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  /* Neutral colors */
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

* {
  font-family: 'League Spartan', sans-serif;
  margin: 0;
}

body {
  background-color: var(--white);
  background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top 0% left 0%, top 250% left 100%;
}

main {
  padding: 80px 190px;
  height: calc(100vh - 160px);
}

footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 100%;
  height: 100%;
  /* Flexbox */
  display: flex;
  justify-self: center;
  align-self: center;
  flex-wrap: wrap;
}

.titles {
  height: 50%;
  color: var(--very-dark-magenta);
  /* Flexbox */
  display: flex;
  flex-basis: 40%;
  flex-wrap: wrap;
  justify-items: flex-start;
  align-content: space-evenly;
}

.titles h1 {
  font-weight: 700;
  font-size: 50px;
}

.titles h2 {
  color: var(--very-dark-magenta);
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  margin-top: 7px;    
}

.stars {
  height: 37%;
  /* Flexbox */
  display: flex;
  flex: 1 0 60%;
  flex-wrap: wrap;
  align-self: center;
  justify-content: flex-end;
  align-content: space-between;
}

.stars div {
  background-color: var(--light-grayish-magenta);
  color: var(--very-dark-magenta);
  font-weight: 500;
  font-size: 14px;
  min-height: 53px;
  border-radius: 6px;
  padding-left: 25px;
  /* Flexbox */
  display: flex;
  flex: 0 0 62%;
  justify-content: flex-start;
  align-items: center;
}

.stars div img {
  margin-left: 6px;
  width: 16px;
}

.stars div h3 {
  margin-left: 30px;
}

#reviews {
  margin-right: 100px;
}

#guru {
  margin-right: 50px;
}

.testimonial {
  min-height: 50%;
  /* Flexbox */
  display: flex;
  flex: 1 0 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.comment {
  min-height: 165px;
  background-color: var(--very-dark-magenta);
  border-radius: 8px;
  padding: 25px 33px;
  /* Flexbox */
  display: flex;
  flex: 0 0 265px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.comment img {
  width: 35px;
  border-radius: 100%;
  margin-right: 20px;
}

.infos {
  height: 40px;
  /* Flexbox */
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-evenly;
}

.infos h4 {
  flex-basis: 100%;
  color: var(--light-grayish-magenta);
  font-weight: 700;
  font-size: 15px;
}

.infos h5 {
  flex-basis: 100%;
  color: var(--soft-pink);
  font-weight: 400;
  font-size: 15px;
}

.comment article {
  flex-basis: 100%;
  color: var(--light-grayish-magenta);
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

#colton {
  margin-bottom: 24px;
}

#irene {
  margin-bottom: 12px;
}

.attribution {
    font-size: 15px;
    font-weight: 400;
    color: var(--very-dark-magenta);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}